.header {
  height: $db-height-header;

  .container {
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-up(lg) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .nav-icon {
    .nav-link {
      padding: 0;
      font-size: 21px;
      line-height: 1;
      color: $secondary;
      @include transition(all 0.25s);

      + .nav-link { margin-left: 8px; }

      &:hover {
        color: $primary;
        transform: scale(1.1);
      }
    }
  }
}

.header-logo {
  font-size: 24px;
  font-family: $ff-secondary;
  font-weight: 600;
  display: inline-block;
  line-height: 1;
  color: $dark;
  letter-spacing: -.5px;
  position: relative;
}

.header-main {
  height: $db-height-header;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 800;
  border-bottom: 1px solid $gray-200;
  background-color: #fff;
  display: flex;
  align-items: center;
  @include transition(all 0.25s);
  box-shadow: 0 1px 1px rgba($gray-900, 0.01),
              0 4px 4px rgba($gray-900, 0.01),
              0 16px 16px rgba($gray-900, 0.01);

  @include media-breakpoint-up(lg) {
    left: $sidebar-width - 10px;
    border-left: 1px solid $gray-100;
  }

  @include media-breakpoint-up(xxl) { left: $sidebar-width; }

  .form-search {
    width: 180px;
    box-shadow: none;
    background-color: $gray-200;

    @include media-breakpoint-down(md) {
      height: $height-base + 2px;
      border-radius: 4px;
    }

    @include media-breakpoint-up(sm) { width: 270px; }
    @include media-breakpoint-up(xl) { width: 320px; }

    .form-control { padding-left: 3px; }
    i { opacity: .6; }

    &.onfocus { background-color: #fff; }
  }

  .menu-link {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.325rem;
    color: $secondary;

    &:hover { color: $primary; }
  }

  .nav-link {
    color: $secondary;
    &:hover { color: $body-color; }

    &.active {
      font-weight: $font-weight-medium;
      color: $primary;
      letter-spacing: -.1px;
    }
  }
}

.dropdown-profile {
  .dropdown-link {
    .avatar {
      width: 34px;
      height: 34px;
    }
  }

  .dropdown-menu {
    width: 230px;
    padding: 0;
    border-color: $border-color;
    border-radius: 6px;
    border-width: 0;
    box-shadow: 0 2px 10px rgba($gray-600, 0.1),
                0 10px 20px rgba($gray-600, 0.1);
  }

  .dropdown-menu-body {
    padding: 20px 20px 15px;

    h5 { font-size: 16px; }
  }

  .nav {
    flex-direction: column;
    margin: 0 -10px;
  }

  .nav a {
    display: flex;
    align-items: center;
    padding: 7px 8px;
    color: $gray-700;
    border-radius: 4px;
    @include transition(all 0.25s);

    &:hover {
      background-color: $gray-200;
      color: $gray-900;
    }

    i {
      font-size: 20px;
      line-height: 1;
      margin-right: 10px;
    }
  }

  hr {
    opacity: .12;
    margin: 5px -2px;
  }
}
